.modal {
    text-align: center;
    background-color: #e1dcddba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    position: absolute;
    top: 22%;
    left: 38%;
    filter: drop-shadow(1px 4px 84px white);
    box-shadow: 2px 2px 50px 2px white;
    border-radius: 18px;
    border: 16px crimson;

    >.tittle {
        border-bottom: 1px solid gray;
        width: 100%;
        padding: 12px;
        display: flex;
        justify-content: space-between;

        >h2 {
            font-size: x-large;
            color: #000000cf;
            font-weight: 800;
            letter-spacing: 1px;
            font-family: cursive;
        }

        >button svg {
            font-size: 33px;
            color: #000000cf;
            cursor: pointer;
            transition: all .5s ease-in-out;

            &:hover{
                background-color: #383636;
            }
        }
    }

    >.input {
        width: 100%;
        padding: 15px;

        >form input {
            width: 100%;
            padding: 15px;
            font-size: 18px;
            margin: 5px;
        }
      
        >form .submit {
            width: 100%;
            text-align: end;
            padding: 19px;
    
            >.close {
                padding: 8px 21px;
                font-size: 18px;
                background-color: #80808096;
                border: 1px solid gray;
                border-radius: 7px;
                margin-right: 10px;
                cursor: pointer;
                transition: all .5s ease-in-out;
    
                &:hover{
                    background-color: #383636;
                }
            }
    
            >.submit-btn {
                padding: 8px 21px;
                font-size: 18px;
                background-color: #FE508A;
                color: #fff;
                font-weight: 700;
                font-family: cursive;
                border: 1px solid gray;
                border-radius: 7px;
                margin-right: 10px;
                cursor: pointer;
                transition: all .5s ease-in-out;
    
                &:hover{
                    background-color: #cf0d4e;
                }
            }
        }
    }

}