.pageination{
    display: flex;
    font: 800 bold;
    font-size: 25px;
    justify-content: space-between;

    a{
        font-size: 30px;
        margin-bottom: 7px;
        text-decoration: none;
        
    }
}