.Home {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;

    >.home-container {
        border-left: 1px solid rgba(0, 0, 0, 0.404);
        background-color: white;
        width: 80%;
        height: 100%;
        // position: fixed;
        right: 0;
        overflow: auto;

        >.section {
            height: 100%;
            width: 100%;

            >.page-1 {
                width: 100%;
                height: 100vh;
                position: relative;

                >img {
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    object-fit: cover;
                    filter: blur(3px);
                }
                >.detail{
                    position: relative;
                    text-align: center;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    transform: translateY(-10%);

                    >h1{
                        color: white;
                        font-weight: 800;
                        text-shadow: 1px 1px 3px white;
                        letter-spacing: 3px;
                        font-size: 47px;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                    }
                    p{
                        color: #ffefefd4;
                        font-size: 19px;
                        font-weight: 500;
                        text-shadow: 1px 2px 5px;
                        filter: drop-shadow(3px 7px 10px black);
                    }
                }
            }

        }

    }
}